{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>forgot password</title>
	
  <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mdb.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/resetpassword.css' %}">
	<style>
		body{
			min-height: 100vh;
			background: url("{% static 'images/snow3.jpg' %}") no-repeat fixed;
			background-size: cover;
		}
    .password::placeholder {
      color: white;
      font-size: 11px;
      font-weight: 550;
    }
    .rpassword::placeholder {
      color: white;
      font-size: 11px;
      font-weight: 550;
    }
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg naving">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarRightAlignExample"
      aria-controls="navbarRightAlignExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars text-light m-3"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarRightAlignExample">
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link item" href="{% url 'app:home' %}" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link item" href="{% url 'app:register' %}">Register</a>
        </li>
        {% if user.is_authenticated and not user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link item" href="{% url 'app:history' %}">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link item" href="{% url 'app:logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link item" href="{% url 'app:login' %}">Login</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link item" href="{% url 'app:contact' %}" >Contact</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<div class="container box">
	<div class="row justify-content-center">
    <div class="col-md-4">
      <form method="POST" onsubmit="return validateform()">
        {% csrf_token %}
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="email" name="email" autocomplete="off" class="form-control text-input" />
    <label class="form-label" for="email"><p>Email address</p></label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="password" name="password" autocomplete="off" class="form-control text-input" />
    <label class="form-label" for="password"><p>Password</p></label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="rpassword" name="rpassword" autocomplete="off" class="form-control text-input" />
    <label class="form-label" for="rpassword"><p>Re-Enter Password</p></label>
  </div>

  <!-- Password input -->
  

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
</form>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
          <h6 style="color: white; font: 12px; margin-left: 55px; margin-top: 10px">{{MSG}}</h6>
        </div>
      </div>
		
	</div>
</div>
	
	


  <script>
    function validatepassword(password) {
      var pattern = /^(?=.*[A-Za-z])(?=.*\d|\W).+/;
      return pattern.test(password);
  }
    function validateform() {
      var passwordInput = document.getElementById('password');
      var rpasswordInput = document.getElementById('rpassword');

      var password = passwordInput.value.trim();
      var rpassword = rpasswordInput.value.trim();

      if (!validatepassword(password)) {
        passwordInput.setAttribute("placeholder", "contains at least 1 letter and digit/special character");
        passwordInput.classList.add("password");
        rpasswordInput.setAttribute("placeholder", "contains at least 1 letter and digit/special character");
        rpasswordInput.classList.add("rpassword");
        passwordInput.value = '';
        rpasswordInput.value = '';
        return false;
    } else if (password.length < 8) {
        passwordInput.setAttribute("placeholder", "Password length should be more than 7 character");
        passwordInput.classList.add("password");
        rpasswordInput.setAttribute("placeholder", "Password length should be more than 7 character");
        rpasswordInput.classList.add("rpassword");
        passwordInput.value = '';
        rpasswordInput.value = '';
        return false;

    } else if (password!==rpassword) {
        passwordInput.setAttribute("placeholder", "Enter password again");
        passwordInput.classList.add("password");
        rpasswordInput.setAttribute("placeholder", "Re-Entered password didn't match");
        rpasswordInput.classList.add("rpassword");
        rpasswordInput.value = '';
        return false;
    } else { 
      passwordInput.removeAttribute("placeholder");
      passwordInput.classList.remove("password");
      rpasswordInput.removeAttribute("placeholder");
      rpasswordInput.classList.remove("rpassword");

    }
    return true;

    }
  </script>
  <script src="{% static 'js/all.min.js' %}"></script>
	<script src="{% static 'js/mdb.min.js' %}"></script>
</body>
</html>