.naving{
	background: transparent;
	color: transparent;
}
.item{
	color: white;
}
.box{
	margin-top: 150px;
	margin-left: 100px;
}
.form-label p{
	color: whitesmoke;
}
.col a p{
	color: white;
}
.form-outline .text-input {
	color: white;
}
